<!DOCTYPE html>
<html lang="en" ng-app="TodoApp">
    <head>
        <meta charset="UTF-8">
        <title>To Do List!</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
              crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
        <script src="todolist.js"></script>
    </head>
    <body ng-controller="TodoCtrl as ctrl">
        <div class="container" >
            <h1 class="jumbotron">To Do List <small>by Joseph</small></h1>
            <form ng-submit="ctrl.addToList()">
                <input type="text" ng-model="ctrl.todo" placeholder="What do you need to do?" id="inputHelpBlock" class="form-control" aria-describedby="helpBlock">
                <br>
                <span ng-if="ctrl.empty==1">You haven't entered anything yet.. Stop procrastinating!
                    <br>
                </span>
            </form>
        </div>

        <!-- Display list of to do items... -->
        <div class="container">
            <li ng-repeat="i in ctrl.list" style="list-style-type: none">
                <button type="button" class="btn btn-primary btn-xs" ng-click="ctrl.itemDone()">Done</button>
                <span> {{ i.todo }}</span>
            </li>
            <br>
            <span ng-if="ctrl.list.length!=0">{{ ctrl.list.length }} items left</span>
        </div>

    </body>
</html>